<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javascript</title>
    <link rel="stylesheet" href="{$wa_app_static_url}/css/reset.css">
</head>
<body>
    <h1>Javascript</h1>
        Примеры из Javascript

    {literal}
    <div class="examples__list">
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Переменные</div>
                <blockquote class="examples__date">23.08.2022</blockquote>
            </div>
            <ul>
                <li>
                    <p>Наименование переменных</p>
                    <p>PascalCase -> Типы и классы<br>
                       DB_PASSWORD -> значения известны до запуска приложения и не меняются<br>
                       camelCase -> Остальное
                    </p>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Обьявление переменных</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>let</p>
                            <p>Если значени переменной не присвоено, то значение будет равно undifine</p>
                        </li>
                        <li>
                            <p>const</p>
                            <p>Нельзя присвоить значение повторно</p>
                        </li>
                        <li>
                            <p>var</p>
                            <p>Лучше не использовать</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Типы переменных</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>Приметивные типы переменных</p>
                            <p>string, boolean, number, null, undefined, symbol</p>
                            <p>Значение приметивных типов хранит само значение, а не ссылку на значение как object</p>
                        </li>
                        <li>
                            <p>Ссылочный тип</p>
                            <p>object(обьект)</p>
                            <p>Переменная хронящая обьект будет хранить только ссылку на обьет а не сам обьект</p>
                            <p>Поменяв значение в обьекте через одну переменную, вы меняете значение всех переменных ссылающихся на тот же обьект</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Типизация</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>Javascript динамически типизированный язык</li>
                        <li>
                            <p>Статическая типизация</p>
                            <p>String a = "abc";<br> int b = 10;<br>b='xyz' //Error</p>
                        </li>
                        <li>
                            <p>Динамическая типизация</p>
                            <p>a = function a(){};a = "abc";<br>a = 1<br>a = undifiend</p>
                        </li>
                        <li></li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Обьекты</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>Создания нового свойства</p>
                            <p>
                                $myCity.popular = true<br>
                                $myCity["popular"] = true - Используется если в квадратных скобках необхадимо указать переменную
                            </p>
                        </li>
                        <li>
                            <p>Удаление свойства</p>
                            <p>delete $myCity.popular</p>
                        </li>
                        <li>
                            <p>Сокращенное обьявление свойств обьекта</p>
                            <p>
                                const name = "Vasek"<br>
                                const dev = true <br>

                                const userProfile = { <br>
                                    name: name, <br>
                                    dev: dev, <br>
                                    position: "besOfTheBest" <br>
                                }
                            </p>
                            <p>
                                const name = "Vasek"<br>
                                const dev = true <br>

                                const userProfile = { <br>
                                name, <br>
                                dev, <br>
                                position: "besOfTheBest" <br>
                                }
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">JSON</div>
                <blockquote class="examples__date">23.08.2022</blockquote>
            </div>
            <ul>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title">JSON методы</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>Parse</p>
                            <p>Из JSON в javascript обьект</p>
                        </li>
                        <li>
                            <p>Stringify</p>
                            <p>Из javascript обьекта в JSON обьект</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
    </div>
    {/literal}
    <script src="{$wa_app_static_url}js/frontend/FrontendJavascript.js"></script>
</body>
</html>