<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>CLI - работа с консолью</h1>

<div class="examples__list">
    <div class="examples__item">
        <div class="examples__title-date--box">
            <div class="examples__title">Папки</div>
            <blockquote class="examples__date">08.11.2022</blockquote>
        </div>
        <ul>
            <li>
                <p>cd - переход в папку с указанием пути</p>
                <p>ls, ls -l, ls -la(-l -a) показать все файлы (-l распечатать списком, -la также распечатать системные файлы)</p>
                <p> pwd - распечатать путь до папки в которой сейчас нахожусь</p>
                <p>mkdir one - создать папку </p>
                <p>mkdir two three four - создание нескольких папок</p>
                <p>mkdir -p img/cover/test - -p создает все недостающие папки </p>
                <p>mkdir -p {img/cover/test,css/loyout,script/modals} - создает несколько папок с своими вложенностями </p>
                <p>reder new удаление папки new (не работает ели в папке остались файлы)</p>
                <p>rm -r new удаление папки и всех файлов внутри</p>
                <p>cp -r one two - скопировать one в папку two</p>
                <p>mv -r one two - переместить one в папку two</p>
            </li>
        </ul>
    </div>

    <div class="examples__item">
        <div class="examples__title-date--box">
            <div class="examples__title">Файлы</div>
            <blockquote class="examples__date">08.11.2022</blockquote>
        </div>
        <ul>
            <li>
                <p>touch text.txt - создание файла</p>
                <p>rm text.txt - удаление файла</p>
                <p>mv index.html test - вырезать index.html в папку test</p>
                <p>mv index.html new.html - переименует файл</p>
                <p>cp index.html test - скопировать index.html в папку test</p>
                <p>find . -iname "*.html" поиск файлов в директории по имень *.html (-i не обращать внимание на регистр)</p>
            </li>
        </ul>
    </div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
    <div class="examples__item"></div>
</div>
</body>
</html>