<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Php</title>
    <link rel="stylesheet" href="{$wa_app_static_url}/css/reset.css">
</head>
<body>
    {literal}
    <h1>Php</h1>
        Примеры из Php
    <div class="examples__list">
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Переменные</div>
                <blockquote class="examples__date">21.08.2022</blockquote>
            </div>
            <ul>
                <li>Переменные зависимы от регистра</li>
                <li>Типы переменных:
                    <ul>
                        <li>
                            <p>Interger (целое число)</p>
                            <p>Пример: 1</p>
                        </li>
                        <li>
                            <p>double (вещественное число)</p>
                            <p>Пример: 0,00012->12x10e-4->1.2e-4</p>
                        </li>
                        <li>
                            <p>string (Строка)</p>
                            <p>Пример: "Значение строки"</p>
                        </li>
                        <li>
                            <p>boolean (логический тип)</p>
                            <p>Пример: true</p>
                        </li>
                        <li>
                            <p>null (специальное значение)</p>
                            <p>Пример: null</p>
                        </li>
                        <li>
                            <p>callable (фунция обратного вызова)</p>
                            <p>Пример: Некоторые функции могут принимтаь в качестве аргументов другие функции, которые называются "функциями обратного вызова"</p>
                        </li>
                    </ul>
                </li>
                <li>Действия с переменными:
                    <ul>
                        <li>
                            <p>Присвоение значения</p>
                            <p>Пример: null</p>
                        </li>
                        <li>
                            <p>Проверка существования</p>
                            <p>Пример: isset($myVar)</p>
                        </li>
                        <li>
                            <p>Уничтожение</p>
                            <p>Пример: unset($myVar) или unset($myVar['ключ'])</p>
                        </li>
                    </ul>
                </li>
                <li>
                    Определение типа переменной
                    <ul>
                        <li>is_int</li>
                        <li>is_double</li>
                        <li>is_infinite - бесконечное действительное число INF</li>
                        <li>is_nan - недопустимое числовое значение</li>
                        <li>is_string</li>
                        <li>is_numeric - если является либо числом, либо строковым прелставлением число ( состоит из цифр и точки), рекомедуется использовать вместо is_integer  и is_double, потому что над числами содержащимися в строках можно выполнять обычные арифметические операции</li>
                        <li>is_scalar - если это один из вышеперечисленных типов (сколярный)</li>
                        <li>is_null</li>
                        <li>is_array</li>
                        <li>is_object</li>
                        <li>gettype</li>
                    </ul>
                </li>
                <li>Установка типа переменной
                    <ul>
                        <li>settype($var, $type)</li>
                        <li>floatval - к вещественному числу</li>
                        <li>strval</li>
                        <li>intval</li>
                        <li>Также в скобка перед переменной можно указать тип переменной
                            int,bool,float,string,array,object,unset
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Cookie</div>
                <blockquote class="examples__date">22.08.2022</blockquote>
            </div>

            <ul>
                <li>
                    Установка Cookie
                    <ul>
                        <li>
                            <p>Создание временной cookie</p>
                            <p>setcookie("name", "John");</p>
                        </li>
                        <li>
                            <p>Создание долговременной cookie на один час</p>
                            <p>setcookie("name", "John", time()+3600);</p>
                        </li>
                        <li>
                            <p>Cookie доступны один час по пути /docs/</p>
                            <p>setcookie("name", "John", time()+3600, "/docs/");</p>
                        </li>
                        <li>
                            <p>Cookie доступны один час по пути для всех поддоменов</p>
                            <p>setcookie("name", "John", time()+3600, "/", ".example.com");</p>
                        </li>
                        <li>
                            <p>Сookie можно отдавать только при https</p>
                            <p>setcookie("name", "John", time()+3600, "/", ".example.com", true);</p>
                        </li>
                        <li>
                            <p>Сookie можно отдавать только при http запросе</p>
                            <p>setcookie("name", "John", time()+3600, "/", ".example.com", false, true);</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>// Внимание: ошибка!</p>
                    <p>
                        echo "Привет!";<br>
                        setcookie("name", "John");<br>
                        тк setcookie работает вначале страницы,как только передается не инструкция php, заголовок отправляется и с ней все куки что были указаны до.
                    </p>
                </li>
                <li>
                    <p>// Чтение cookie</p>
                    <p>echo $_COOKIE["name"];</p>
                </li>
                <li>
                    <p>// Удаление cookie
                    </p>
                    <p>setcookie("name", "John", time()-3600);
                    </p>
                </li>
                <li>
                    <p>// Массивы и cookie</p>
                    <p>
                        $user = [<br>
                        'name' => 'John',<br>
                        'login' => 'root',<br>
                        'password' => '1234'<br>
                        ];<br>
                        $str = serialize($user);<br>
                        setcookie("user",  $str);<br>

                        $user = unserialize($_COOKIE["user"]);<br>
                        print_r($user);<br>
                    </p>
                </li>
                <li>
                    <p>// Для сохранения целостности</p>
                    <p>
                        $str = base64_encode( serialize($user) );<br>
                        setcookie("user",  $str);<br>

                        $user = unserialize( base64_decode($_COOKIE["user"]) );<br>
                        print_r($user);<br>
                    </p>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Заголовки Headers</div>
                <blockquote class="examples__date">22.08.2022</blockquote>
            </div>

            <ul>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Установка типа содержимого</div>
                        <blockquote class="examples__date">22.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>// Принудительная установка типа передаваемого ресурса</p>
                            <p>header("Content-Type: text/xml");</p>
                        </li>
                        <li>
                            <p>// Принудительная установка кодировки передаваемого ресурса</p>
                            <p>header("Content-Type: text/html; charset=utf-8");</p>
                        </li>
                        <li>
                            <p>// Перенаправление вывода передаваемых данных</p>
                            <p> header("Content-Type: text/plain");<br>
                                header("Content-Disposition: attachment; filename=\"myfile.txt\"");
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Установка типа содержимого</div>
                        <blockquote class="examples__date">22.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>// Принудительная установка типа передаваемого ресурса</p>
                            <p>header("Content-Type: text/xml");
                            </p>
                        </li>
                        <li>
                            <p>// Принудительная установка кодировки передаваемого ресурса
                            </p>
                            <p>header("Content-Type: text/html; charset=utf-8");
                            </p>
                        </li>
                        <li>
                            <p>
                                // Перенаправление вывода передаваемых данных
                            </p>
                            <p>
                                header("Content-Type: text/plain");<br>
                               header("Content-Disposition: attachment; filename=\"myfile.txt\"");
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Управление кэшированием</div>
                        <blockquote class="examples__date">22.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>// Запрет кэширования</p>
                            <p>header("Cache-Control: no-cache, max-age=0");</p>
                        </li>
                        <li>
                            <p>// Полный запрет кэширования</p>
                            <p>header("Cache-Control: no-store");</p>
                        </li>
                        <li>
                            <p>// Разрешение кэширования на один час относительно времени запроса
                            </p>
                            <p> header("Cache-Control: max-age=3600");
                            </p>
                        </li>
                        <li>
                            <p>// Разрешение кэширования на один час</p>
                            <p>header("Expires: " . date("r", time() + 3600);</p>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
        <div class="examples__item">

            <div class="examples__title-date--box">
                <div class="examples__title">Оператор</div>
                <blockquote class="examples__date">22.08.2022</blockquote>
            </div>

            <ul>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Условные операторы</div>
                        <blockquote class="examples__date">22.08.2022</blockquote>
                        <ul>
                            <li>
                                <p>$x ? 'text1' : 'text2'</p>
                                <p>если $x=true то text1, если false то text2</p>
                            </li>
                            <li>
                                <p>$x ?: 'text2'</p>
                                <p>если $x=false то text2</p>
                            </li>
                            <li>
                                <p>$val = $peremennaya ?? false</p>
                                <p>Если $premennaya != null; != false то переменная $val = $peremennaya</p>
                                <p>Если $premennaya == null; == false то переменная $val = false (значению после ??)</p>
                            </li>
                        </ul>
                    </div>
                </li>
            <ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Буферизация</div>
                <blockquote class="examples__date">22.08.2022</blockquote>
            </div>

            <ul>
                <li>
                    <p>// Включаем буферизацию</p>
                    <p>ob_start();<br>
                        echo 'Hello world!';<br>
                        setcookie("name", "John");</p>
                </li>
                <li>
                    <p>// Посылаем содержимое буфера</p>
                    <p>ob_flush();</p>
                </li>
                <li>
                    <p>
                        echo 'Ещё контент!';<br>
                        echo 'И ещё контент!';</p>
                    <p> // Посылаем содержимое буфера и отключаем его<br>
                        ob_end_flush();</p>
                </li>
                <li>
                    <p>// Посылаем содержимое буфера и отключаем его</p>
                    <p>ob_end_flush();</p>
                </li>
                <li>
                    <p>// Включаем буферизацию</p>
                    <p>ob_start();</p>
                </li>
                <li>
                    <p>echo "Hello ";</p>
                    <p>// Выбираем то, что находится в буфере. Его содержимое на очищается!<br>
                        $out1 = ob_get_contents();</p>
                </li>
                <li>
                    <p>echo "World";</p>
                    <p>// Выбираем то, что находится в буфере. Его содержимое на очищается!<br>
                        $out2 = ob_get_contents();
                    </p>
                </li>
                <li>
                    <p> // А теперь очищаем буфер, но не закрываем
                        </p>
                    <p>ob_clean();</p>
                </li>
                <li>
                    <p>echo "Саша";<br>
                        echo " и ";<br>
                        echo "Маша";</p>
                </li>
                <li>
                    <p>// Выбираем то, что находится в буфере</p>
                    <p>$out3 = ob_get_contents();</p>
                </li>
                <li>
                    <p>// Очищаем буфер и закрываем его</p>
                    <p>ob_end_clean();</p>
                </li>
                <li>
                    <p>echo $out1; // Hello<br>
                        echo $out2; // Hello World<br>
                        echo $out3; // Саша и Маша</p>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Форма</div>
                <blockquote class="examples__date">22.08.2022</blockquote>
            </div>

            <ul>
                <li>
                    <p>$_SERVER['QUERY_SYTRING'</p>
                    <p>Строка из url после /?</p>
                </li>
                <li>
                    <p>Получить данные можно запроса формы можно из: $_GET $_POST и обьединение их $_REQUEST</p>
                </li>
                <li>
                    <p>атрибут name в полях формы лучше указывать массивом name="Sel[]" - В случае мультиселекта name="Data[name] - обычный инпут"</p>
                    <p></p>
                </li>
                <li>
                    <p>checkbox</p>
                    <p>Указывается соседний checkbox - hidden c value 0</p>
                    <p>input type="hidden" name="know[php]" value="0"</p>
                    <p>input type="checkbox" name="know[php]" value="1"</p>
                    <p>если пользователь поставит флажок know[php]=1 перебьет инпут:хидден</p>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Сессия</div>
                <blockquote class="examples__date">24.08.2022</blockquote>
            </div>
            <ul>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Управление сеансами</div>
                        <blockquote class="examples__date">24.08.2022</blockquote>
                    </div>

                    <ul>
                        <li>
                            <p>// Создание и(или) доступ к сессии</p>
                            <p>session_start();</p>
                        </li>
                        <li>
                            <p>// Запись в сессионную переменную</p>
                            <p>$_SESSION['name'] = 'John';</p>
                        </li>
                        <li>
                            <p>// Чтение из сессионной переменной</p>
                            <p>echo $_SESSION['name'];</p>
                        </li>
                        <li>
                            <p>// Очистка сессионных переменных</p>
                            <p>session_destroy();</p>
                        </li>
                        <li>
                            <p>// Принудительное удаление сессионной cookie</p>
                            <p>setcookie(session_name(), session_id(), time()-3600);</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Дополнительные параметры сеанса
                        </div>
                        <blockquote class="examples__date">24.08.2022</blockquote>
                    </div>
                    <p>
                        // session.auto_start = 0<br>
                        ini_set('session.name', 'PHPSESSID');<br>
                        ini_set('session.save_path', '');<br>
                        ini_set('session.gc_maxlifetime', '1440');<br>
                        ini_set('session.cookie_lifetime', '0');<br>
                        ini_set('session.cookie_httponly', '');<br>
                        ini_set('session.cookie_path', '/');<br>
                    </p>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Файлы</div>
                <blockquote class="examples__date">24.08.2022</blockquote>
            </div>

            <ul>
                <li>
                    Полезные функции
                    <ul>
                        <li>
                            <p>// Проверка файлов и директорий на существование</p>
                            <p>
                                if( file_exists("file.txt") ){<br>
                                    echo "Файл или директория существует";<br>
                                }<br>
                                if( is_file("file.txt") ){<br>
                                    echo "Файл существует";<br>
                                }<br>

                                if( is_dit("images") ){<br>
                                    echo "Директория существует";<br>
                                }
                            </p>
                        </li>
                        <li>
                            <p>// Размер файла</p>
                            <p>echo "Длина файла file.txt: " . filesize("file.txt");</p>
                        </li>
                        <li>
                            <p>// Время изменения и доступа к файлу</p>
                            <p>echo "Файл file.txt был изменён: " . filemtime("file.txt");<br>
                                echo "и запрошен: " . fileatime("file.txt");</p>
                        </li>
                        <li>
                            <p>// Что можно с файлом делать?</p>
                            <p>if( is_readable("file.txt") ){<br>
                                    echo "Файл можно читать";<br>
                                }<br>

                                if( is_writable("file.txt") ){<br>
                                    echo "В файл можно писать";<br>
                                }<br>

                                if( is_executable("file.exe") ){<br>
                                    echo "Файл можно исполнять";<br>
                                }
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>
                        // Открытие потока на чтение и получение его дескриптора <br>
                        $f = fopen("file.txt", "r") or die("Не могу открыть файл!"); <br>

                        // Закрытие потока <br>
                        fclose($f); <br>

                        // Открытие потока на чтение и запись <br>
                        $f = fopen("file.txt", "r+"); <br>
                        // Открытие потока на запись. Указатель помещается в конец файла <br>
                        $f = fopen("file.txt", "a"); <br>
                        // Открытие потока на чтение и запись. Указатель помещается в конец файла <br>
                        $f = fopen("file.txt", "a+"); <br>
                        // Открытие потока на запись. Файл обрезается до нулевой длины <br>
                        $f = fopen("file.txt", "w"); <br>
                        // Открытие потока на чтение и запись. Файл обрезается до нулевой длины <br>
                        $f = fopen("file.txt", "w+"); <br>


                        // Читаем файл кусками <br>
                        $f = fopen("file.txt", "r"); <br>
                        // Читаем первые 5 байт из потока <br>
                        echo fread($f, 5); <br>
                        // Читаем следующие 3 байта из потока <br>
                        echo fread($f, 3); <br>
                        // Выводим всё с текущей позиции до конца <br>
                        fpassthru($f); <br>
                        fclose($f); <br>

                        // Читаем файл построчно в массив <br>
                        $f = fopen("file.txt", "r"); <br>
                        $lines = []; <br>
                        while ( $line = fgets($f) ){ <br>
                        $lines[] = $line; <br>
                        } <br>
                        fclose($f); <br>

                        // Читаем файл построчно в массив и вырезаем html-тэги, оставляя нужные <br>
                        $f = fopen("file.html", "r"); <br>
                        $lines = []; <br>
                        while ( $line = fgetss($f, 4096, "<p><br>") ){ <br>
                        $lines[] = $line; <br>
                        } <br>
                        fclose($f); <br>

                        // Читаем файл побайтово в массив <br>
                        $f = fopen("file.txt", "r"); <br>
                        $bytes = []; <br>
                        while ( !feof($f) ){ <br>
                        $bytes[] = fgetc($f); <br>
                        } <br>
                        fclose($f); <br>


                        // Пишем файл <br>
                        $f = fopen("file.txt", "r+"); <br>
                        fwrite($f, "Новый текст", 25); <br>
                        fclose($f); <br>


                        // Пишем в конец файла <br>
                        $f = fopen("file.txt", "a"); <br>
                        fputs($f, "\nНовая строка"); <br>
                        fclose($f); <br>


                        // Читаем последние 10 байт из потока <br>
                        $f = fopen("file.txt", "r"); <br>
                        // Устанавливаем указатель в нужную позицию <br>
                        fseek($f, -10, SEEK_END); <br>
                        // В какой позиции мы находимся? <br>
                        echo ftell($f); <br>
                        // Читаем данные <br>
                        echo fread($f, 10); <br>
                        // Устанавливаем указатель в начало потока <br>
                        rewind($f); <br>
                        fclose($f); <br>

                    </p>
                </li>
                <li>
                    <p>Прямая работа с файлами</p>
                    <p>// Читаем весь файл напрямую в буфер вывода <br>
                        readfile("file.txt"); <br>
                        // Что и <br>
                        $f = fopen("file.txt", "r"); <br>
                        echo fread($f, filesize("file.txt")); <br>
                        fclose($f); <br>

                        // Читаем файл построчно в массив <br>
                        $lines = file("file.txt");; <br>
                        // Что и <br>
                        $f = fopen("file.txt", "r"); <br>
                        while ( $lines[] = fgets($f) ); <br>
                        fclose($f); <br>

                        // Получаем весь файл в виде строки <br>
                        $file = file_get_contents("file.txt"); <br>
                        // Что и <br>
                        $f = fopen("file.txt", "r"); <br>
                        $file = fread($f, filesize("file.txt")); <br>
                        fclose($f); <br>

                        // Пишем в файл затирая содержимое <br>
                        file_put_contents("file.txt", "Новое содержимое"); <br>
                        // Что и <br>
                        $f = fopen("file.txt", "w"); <br>
                        fputs($f, "Новое содержимое"); <br>
                        fclose($f); <br>

                        // Пишем в файл добавляя содержимое в конец <br>
                        file_put_contents("file.txt", "Новое содержимое", FILE_APPEND); <br>
                        // Что и <br>
                        $f = fopen("file.txt", "a"); <br>
                        fputs($f, "Новое содержимое"); <br>
                        fclose($f); <br>
                    </p>
                </li>
                <li>
                    <p>Управление файлами</p>
                    <p>// Копируем файл
                        copy("source.txt", "destination.txt");

                        // Переименовываем файл
                        rename("old.txt", "new.txt");

                        // Удаляем файл
                        unlink("file-to-delete.txt");
                    </p>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Подключение файлов</div>
                        <blockquote class="examples__date">24.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <div class="examples__title-date--box">
                                <div class="examples__title examples__title--lvl2">Подключение файлов</div>
                                <blockquote class="examples__date">24.08.2022</blockquote>
                            </div>
                            <ul>
                                <li>require</li>
                                <li>require_once</li>
                                <li>include</li>
                                <li>include_once</li>
                                <li>include в случае ошибки выдает ошибку и продолжает работу, require в случае ошибки выводит ерор и останавливает </li>
                                <li>once - не подключает если на странице уже есть подключение</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Работа с директориями</div>
                        <blockquote class="examples__date">30.08.2022</blockquote>
                    </div>

                    <ul>
                        <li>
                            <p>// Создание директории
                            </p>
                            <p>mkdir("newdir");
                            </p>
                        </li>
                        <li>
                            <p>// Удаление директории
                            </p>
                            <p>rmdir("dir-to-delete");
                            </p>
                        </li>
                        <li>
                            <p>// Имя текущей директории
                            </p>
                            <p>echo getcwd();
                            </p>
                        </li>
                        <li>
                            <p>// Заходим в текущую директорию
                            </p>
                            <p>$dir = opendir(".");
                            </p>
                        </li>
                        <li>
                            <p>// Читаем содержимое директории
                            </p>
                            <p>while ( $name = readdir($dir) ){ <br>
                                if(is_dir($name)) <br>
                                echo '[' . $name . ']<br>'; <br>
                                else <br>
                                echo $name . '<br>'; <br>
                                }
                            </p>
                        </li>
                        <li>
                            <p>// Выходим из директории
                            </p>
                            <p>closedir($dir);
                            </p>
                        </li>
                        <li>
                            <p>// Читаем содержимое директории в массив
                            </p>
                            <p>$dir_content = scandir(".");
                            </p>
                        </li>
                        <li>
                            <p>// Читаем определённое содержимое директории в массив
                            </p>
                            <p>$dir_txt_content = glob("*.txt");
                            </p>
                        </li>
                        <li>
                            <p>scandir(".")</p>
                            <p>Вывести содержимое по алфавиту</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Загрузка файлов на сервер</div>
                        <blockquote class="examples__date">31.08.2022</blockquote>
                    </div>

                    <ul>
                        <li>
                            <?php
                                 * Настройки PHP.INI
                                 * file_uploads = "1"
                                 * upload_max_filesize = "2M"
                                 * post_max_size = "8M"
                                 * max_file_uploads = 20
                                 * upload_tmp_dir =
                                 * max_input_time = "-1"
                                */
                            ?>

                            <form enctype="multipart/form-data" method="POST" action="" >
                                <input type="hidden" name="MAX_FILE_SIZE" value="4096" />
                                <input name="userfile" type="file" />
                                <input type="submit" />
                            </form>

                            <?php
                                if ( $_FILES["userfile"]["error"] != UPLOAD_ERR_OK ){

                                    switch($_FILES["userfile"]["error"]){
                                        case UPLOAD_ERR_INI_SIZE:
                                            echo "Превышен максимально допустимый размер"; break;
                                        case UPLOAD_ERR_FORM_SIZE:
                                            echo "Превышено значение MAX_FILE_SIZE"; break;
                                        case UPLOAD_ERR_PARTIAL:
                                            echo "Файл загружен частично"; break;
                                        case UPLOAD_ERR_NO_FILE:
                                            echo "Файл не был загружен"; break;
                                        case UPLOAD_ERR_NO_TMP_DIR:
                                            echo "Отсутствует временная папка"; break;
                                        case UPLOAD_ERR_CANT_WRITE:
                                            echo "Не удалось записать файл не диск";
                                    }

                                }else{
                                    echo "Размер загруженного файла: " . $_FILES["userfile"]["size"];
                                    echo "Тип загруженного файла: " . $_FILES["userfile"]["type"];
                                    move_uploaded_file($_FILES["userfile"]["tmp_name"], "upload/" . $_FILES["userfile"]["name"]);
                                }

                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Функции</div>
                <blockquote class="examples__date">24.08.2022</blockquote>
            </div>
            <ul>
                <li>
                    <p>Для изменения переменной за пределами функции, аргументом нужно указывать ссылку на переменную</p>
                    <p>
                        $num = 10; <br>
                        function numUp(&$a){ <br>
                            $a++; <br>
                        }; <br>
                        numUp($num); <br>
                        echo $num // 11 <br>
                    </p>
                </li>
                <li>
                    <p>Доступ к аргументам функций</p>
                    <p>func_num_args()</p>
                    <p>func_get_arg(int $num)</p>
                    <p>func_num_args()</p>
                </li>
                <li>
                    <p>статические переменные не уничтожаются после выполнения функции, похоже с замыканимем</p>
                    <p>static $count = 0</p>
                </li>
                <li><p>рекурсия</p>
                    <p>вызов функции внутри себя</p></li>
                <li>
                    <p>скрипт нормального дампа</p>
                    <p>11.16</p>
                </li>
                <li>
                    <p>Генераторы</p>
                    <p>
                        функция делает множество return с помощью yield
                    </p>
                    <a href="https://www.php.net/manual/ru/language.generators.overview.php">Пример</a>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">SQL</div>
                <blockquote class="examples__date">24.08.2022</blockquote>
            </div>
            <ul>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Основные манипуляции с данными</div>
                        <blockquote class="examples__date">01.09.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>Выборка данных</p>
                            <p>
                                SELECT name FROM teachers <br

                                        SELECT name, addr, city <br>
                                FROM teachers <br
                                        ORDER BY name <br

                                        SELECT title <br>
                                FROM courses <br>
                                WHERE length > 30 <br

                                        SELECT * <br>
                                FROM courses <br>
                                WHERE length > 30 <br
                                        AND title LIKE 'Web%' <br

                                        SELECT DISTINCT length <b
                                        FROM courses <br>
                            </p>
                        </li>
                        <li>
                            <p>Объединение таблиц</p>
                            <p>
                                SELECT t.name, t.code, l.course <br>
                                FROM teachers t <br>
                                INNER JOIN lessons l ON t.id = l.tid <br>
                            </p>
                            <p>
                                SELECT t.name, t.code, l.course <br>
                                FROM teachers t <br>
                                LEFT OUTER JOIN lessons l ON t.id = l.tid <br>
                            </p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Алгоритм работы с СУБД MySQL</div>
                        <blockquote class="examples__date">07.09.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            § Подключение необходимого расширения в PHP.INI <br>
                            § php_mysqli.dll <br>

                            § Установка соединения с сервером <br>
                            § Выбор базы данных для работы (при необходимости) <br>
                            § Исполнение запроса <br>
                            § Обработка данных (при необходимости) <br>
                            § Закрытие соединения <br>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Соединение с сервером баз данных</div>
                        <blockquote class="examples__date">07.09.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>// Соединение и выбор базы данных</p>
                            <p>$link = mysqli_connect('localhost', 'root', '', 'web');</p>
                            <p>// Отслеживаем ошибки при соединении</p>
                            <p>if( !$link ){ <br>
                                echo 'Ошибка: ' <br>
                                . mysqli_connect_errno() <br>
                                . ':' <br>
                                . mysqli_connect_error(); <br>
                                } <br>
                            </p>
                            <p>// Можно выбрать другую базу данных для работы</p>
                            <p>mysqli_select_db($link, 'test');</p>
                            <p>// Закрываем соединение</p>
                            <p>mysqli_close($link);</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Основные манипуляции с сервером баз данных</div>
                        <blockquote class="examples__date">07.09.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            // Соединение и выбор базы данных <br>
                            $link = mysqli_connect('localhost', 'root', '', 'web'); <br>

                            // Посылаем простой запрос. Результат: true или false <br>
                            $result = mysqli_query($link, "SET NAMES 'utf8'"); <br>

                            // Отслеживаем ошибки при исполнении запроса <br>
                            if( !$result ){ <br>
                            echo 'Ошибка: ' <br>
                            . mysqli_errno($link) <br>
                            . ':' <br>
                            . mysqli_error($link); <br>
                            } <br>

                            // Посылаем запрос на выборку. Результат: object или false <br>
                            $result = mysqli_query($link, 'SELECT * FROM teachers'); <br>

                            // Можно закрыть соединение <br>
                            mysqli_close($link); <br>

                            // Обрабатываем результат <br>
                            $row = mysqli_fetch_array($result); <br>
                    </ul>
                </li>
                <li>

                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Полезные функции</div>
                        <blockquote class="examples__date">07.09.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            $link = mysqli_connect('localhost', 'root', '', 'web'); <br>

                            // Экранируем строки! <br>
                            $name = mysqli_real_escape_string($link, "John O'Brian"); <br>
                            $sql = "INSERT INTO teachers(name, email) VALUES('$name', 'johnh@gmail.com')"; <br>

                            mysqli_query($link, $sql); <br>
                            // Получаем первичный ключ новой записи <br>
                            $id = mysqli_insert_id($link); <br>

                            $sql = "DELETE FROM lessons WHERE room = 'БК-1'"; <br>
                            mysqli_query($link, $sql); <br>
                            // Сколько записей изменено? <br>
                            $count = mysqli_affected_rows($link); <br>

                            $sql = "SELECT * FROM courses"; <br>
                            $result = mysqli_query($link, $sql); <br>
                            // Сколько записей вернулось? <br>
                            $row_count = mysqli_num_rows($result); <br>
                            // Сколько полей в вернувшихся записях? <br>
                            $fields_count = mysqli_num_fields($result); <br>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Подготовленные запросы</div>
                        <blockquote class="examples__date">07.09.2022</blockquote>
                    </div>
                    <ul>
                        <li>$sql = "INSERT INTO users(name, email, age) VALUES(?, ?, ?)";

                            // Уважаемый сервер, вот запрос - разбери его
                            $stmt = mysqli_prepare($link, $sql);

                            // Уважаемый сервер, вот параметры для запроса
                            mysqli_stmt_bind_param($stmt, "ssi", $name, $email, $age);

                            // А теперь, исполни подготовленный запрос с переданными параметрами
                            mysqli_stmt_execute($stmt);
                            mysqli_stmt_close($stmt);
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="examples__item">

            <div class="examples__title-date--box">
                <div class="examples__title">Массив</div>
                <blockquote class="examples__date">07.09.2022</blockquote>
            </div>

            <ul>
                <li>
                    <p>Сортировака</p>
                    <p>asort($array), arsort($array) соритровка по значению ключа</p>
                    <p>asort($array), arsort($array) соритровка по ключам</p>
                    <p>uksort($array), function(f1,f2){функция сравнения чисел где return -1 <;0==;1>} пользовательская соритровка по ключам</p>
                    <p>uasort($array), function(f1,f2){функция сравнения чисел где return -1 <;0==;1>} пользовательская соритровка по значению ключа</p>
                    <p>natsort($array)) естественная сортировка</p>
                    <hr>
                    <p>sort и rsort сортировка списков</p>
                    <p>usort и rsort пользовательская сортировка списка аналогично с uasort</p>
                    <p>array_multisort передаются несколько массивов, имеющих одинаковое количество значений. Сортируются только первый массив, а остальные сортирую свои idшники под него</p>

                </li>
                <li>
                    <p>array_reverse()</p>
                    <p>shuffle рандом</p>
                    <p>array_flipменяет местами клюс - значение</p>
                    <p>array_merge слияние массивов, при одинаковых ключах значение второго массива перебивает первое </p>
                </li>
                <li>
                    <p>Работа с подмассивами</p>
                    <p>array_slice() получить значения массива начиная с номера ...</p>
                    <p>array_splice() получить значения массива до номера ...</p>
                    <p> array_push($array, 1000)</p>
                    <p> array_unshift($array, 1000)</p>
                    <p> array_pop($array)</p>
                </li>
            </ul>
        </div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
    </div>
    <script src="{$wa_app_static_url}js/frontend/FrontendJavascript.js"></script>
    {/literal}
</body>
</html>