<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Javascript</title>
    <link rel="stylesheet" href="{$wa_app_static_url}/css/reset.css">
</head>
<body>
    <h1>Javascript</h1>
        Примеры из Javascript

    {literal}
    <div class="examples__list">
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Переменные</div>
                <blockquote class="examples__date">23.08.2022</blockquote>
            </div>
            <ul>
                <li>
                    <p>Наименование переменных</p>
                    <p>PascalCase -> Типы и классы<br>
                       DB_PASSWORD -> значения известны до запуска приложения и не меняются<br>
                       camelCase -> Остальное
                    </p>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Обьявление переменных</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>let</p>
                            <p>Если значени переменной не присвоено, то значение будет равно undifine</p>
                        </li>
                        <li>
                            <p>const</p>
                            <p>Нельзя присвоить значение повторно</p>
                        </li>
                        <li>
                            <p>var</p>
                            <p>Лучше не использовать</p>
                        </li>
                        <li>
                            <p>Деструктурирующее присваивание</p>
                            <p>let [x,y] = [1,2] //let x = 1; let y = 2;</p>
                            <p>let [x, ...y] = [1,2,3,4] // y = 2,3,4</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Типы переменных</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>Приметивные типы переменных</p>
                            <p>string, boolean, number, null, undefined, symbol</p>
                            <p>Значение приметивных типов хранит само значение, а не ссылку на значение как object</p>
                        </li>
                        <li>
                            <p>Ссылочный тип</p>
                            <p>object(обьект)</p>
                            <p>Переменная хронящая обьект будет хранить только ссылку на обьет а не сам обьект</p>
                            <p>Поменяв значение в обьекте через одну переменную, вы меняете значение всех переменных ссылающихся на тот же обьект</p>
                        </li>
                        <li>
                            <div class="examples__title-date--box">
                                <div class="examples__title examples__title--lvl3">Обьекты (object)</div>
                                <blockquote class="examples__date">25.08.2022</blockquote>
                            </div>

                            <p>Является ссылочным типом переменной</p>
                            <p>
                                const preson = { <br>
                                name:'Bob', <br>
                                age: 25; <br>
                                } <br>

                                const person2 = person; <br>
                                person2.age = 26 <br>
                                console.log(person.age) //26 <br>
                                console.log(person2.age) //26 <br>
                            </p>
                            <p>
                                const preson = { <br>
                                name:'Bob', <br>
                                age: 25; <br>
                                } <br>

                                const person3 = Object.assign({}, person); <br>
                                person2.age = 26 <br>
                                console.log(person.age) //25 <br>
                                console.log(person2.age) //26 <br>
                            </p>
                            <p>
                                const preson = { <br>
                                name:'Bob', <br>
                                age: 25; <br>
                                } <br>

                                const person3 = {... preson} // оператор "..." разделяет обьект на свойства, в данном случае мы разделяем обьект person на свойства нового обьекта, тем самым избавляемся от мутаций обьекта person при мутации обьекта person3<br>
                                person2.age = 26 <br>
                                console.log(person.age) //25 <br>
                                console.log(person2.age) //26 <br>
                            </p>
                            <p>В перечисленных вариантах, с оператором "..." и Object.assign, вложанные обьекты в обьекте person3 (если такие были бы) имеют общую ссылку на главный обьет, а не копируют его</p>
                            <p>
                                const preson = { <br>
                                name:'Bob', <br>
                                age: 25; <br>
                                } <br>

                                const person3 = JSON.parse(JSON.stringify(person)) // полное копирование с учетом вложенных обьектов в обьект person<br>
                                person2.age = 26 <br>
                                console.log(person.age) //25 <br>
                                console.log(person2.age) //26 <br>
                            </p>
                        </li>
                        <li>

                            <div class="examples__title-date--box">
                                <div class="examples__title examples__title--lvl3">Обьявление переменных</div>
                                <blockquote class="examples__date">23.08.2022</blockquote>
                            </div>

                            <ul>
                                <li>
                                    <p>var</p>
                                    <p>Не имеет блочной области видимости <br>
                                        Является свойстов обьекта globalThis <br>
                                        Переменную можно обьявлять несколько раз <br>
                                        К ней можно обратить до инициализации
                                    </p>
                                </li>
                                <li>
                                    <p>let</p>
                                    <p>Нельзя обратиться до инициализации</p>
                                </li>
                                <li>
                                    <p>const</p>
                                    <p>Нельзя обратиться до инициализации</p>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Типизация</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>Javascript динамически типизированный язык</li>
                        <li>
                            <p>Статическая типизация</p>
                            <p>String a = "abc";<br> int b = 10;<br>b='xyz' //Error</p>
                        </li>
                        <li>
                            <p>Динамическая типизация</p>
                            <p>a = function a(){};a = "abc";<br>a = 1<br>a = undifiend</p>
                        </li>
                        <li></li>
                    </ul>
                </li>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title examples__title--lvl2">Обьекты</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>Создания нового свойства</p>
                            <p>
                                $myCity.popular = true<br>
                                $myCity["popular"] = true - Используется если в квадратных скобках необхадимо указать переменную
                            </p>
                        </li>
                        <li>
                            <p>Удаление свойства</p>
                            <p>delete $myCity.popular</p>
                        </li>
                        <li>
                            <p>Сокращенное обьявление свойств обьекта</p>
                            <p>
                                const name = "Vasek"<br>
                                const dev = true <br>

                                const userProfile = { <br>
                                    name: name, <br>
                                    dev: dev, <br>
                                    position: "besOfTheBest" <br>
                                }
                            </p>
                            <p>
                                const name = "Vasek"<br>
                                const dev = true <br>

                                const userProfile = { <br>
                                name, <br>
                                dev, <br>
                                position: "besOfTheBest" <br>
                                }
                            </p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">JSON</div>
                <blockquote class="examples__date">23.08.2022</blockquote>
            </div>
            <ul>
                <li>
                    <div class="examples__title-date--box">
                        <div class="examples__title">JSON методы</div>
                        <blockquote class="examples__date">23.08.2022</blockquote>
                    </div>
                    <ul>
                        <li>
                            <p>Parse</p>
                            <p>Из JSON в javascript обьект</p>
                        </li>
                        <li>
                            <p>Stringify</p>
                            <p>Из javascript обьекта в JSON обьект</p>
                        </li>
                    </ul>
                </li>
                <li>
                    <p>Посмотреть JSON запросы можно</p>
                    <p>Network->fetch/XHR</p>
                    <p>Просмот вкладка Preview</p>
                </li>

            </ul>
        </div>
        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Функции</div>
                <blockquote class="examples__date">25.08.2022</blockquote>
            </div>

            <ul>
                <li>Функция возвращает undifiend если нет return</li>
                <li>Аргументы функции передаются в вызове, а параметры в обьявлении функции</li>
                <li>Внутри функци НЕ РЕКОМЕНДУЕТСЯ редактировать внешние обьекты</li>
                <li>callback функция - функция которая передается аргументом в другую функцию</li>
                <li>Во время вызова функции callback аргумент передается без - ()</li>
                <li>Одна функция должна выполнять одну задачу</li>
                <li>Переменные обьявленные в блоках ("{код блока}") имеют локальную область видимости данного блока</li>
                <li>В случае указания значения переменной, без ее обьвяления, переменная создается автоматически в глобальной области видимости</li>
            </ul>
            <div class="examples__title-date--box">
                <div class="examples__title examples__title--lvl2">Обьявление функции</div>
                <blockquote class="examples__date">02.09.2022</blockquote>
            </div>
            <ul>
                <li>
                    <p>Анонимное обьявление</p>
                    <p>
                       function(){ <br>
                          // тело функции <br>
                       } <br>
                    </p>
                    <p>
                        const name = function(){ <br>
                        // тело функции <br>
                        } <br>

                        name(); <br>
                    </p>
                </li>
                <li>
                    <p>Стрелочная функция</p>
                    <p>Данная функция не привязана к собственному this, arguments, super, или new.target</p>
                    <p>
                        () => { <br>
                            // тело функции <br>
                        } <br>

                        // сокращенный вариант если у ункции один параметр
                        a => { <br>
                            // тело функции <br>
                        } <br>

                        // сокращение если у тела функции одно выражение
                        (a, b) => a + b
                    </p>
                    <p>
                        const name = () => { <br>
                            // тело функции <br>
                        } <br>

                        name(); <br>
                    </p>
                </li>
                <li>
                    <p>Классика <br>
                    </p>
                    <p>
                        function funcName(){ <br>
                            // тело функции <br>
                        } <br>

                        funcName(); <br>
                    </p>
                </li>
            </ul>
        </div>

        <div class="examples__item">
            <div class="examples__title-date--box">
                <div class="examples__title">Ошибки</div>
                <blockquote class="examples__date">05.09.2022</blockquote>
            </div>
            <ul>
                <li>
                    <p>Ошибка функции в try->catch не останавливает работу скрипта, позволяет обработать ошибку</p>
                    <p>
                        try { <br>
                            () => { <br>
                            throw new Error('some error'); <br>
                            } <br>
                        } catch (error) { <br>
                            console.error(error); <br>
                            console.log(error); <br>
                        } <br>
                    </p>
                    <p>
                        <script>
                            try{
                                () => {
                                    throw new Error('some error');
                                }
                            } catch (error) {
                                console.error(error);
                                console.log(error);
                            }
                        </script>
                    </p>
                </li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="examples__item">

            <div class="examples__title-date--box">
                <div class="examples__title">Операции</div>
                <blockquote class="examples__date">05.09.2022</blockquote>
            </div>

            <ul>
                <li>
                    <p>in</p>
                    <p>проверка наличия наследуемых свойств или методов обьекта или массива</p>
                    <p>"x" in point // есть ли свойство x в обьекте point</p>
                    <p>1 in point // есть ли элемент с id = 1</p>
                    <p>toString in point // есть ли наследуемый метод в обьекте point</p>
                </li>
                <li>
                    <p>instanceof</p>
                    <p>x instanceof Date // возвращает true если x наследуемый класс от Date</p>
                    <p>x instanceof Number // true если x является экземляром Number</p>
                </li>
                <li><p>Что такое eval</p></li>
            </ul>
        </div>
        <div class="examples__item">

            <div class="examples__title-date--box">
                <div class="examples__title">Массивы</div>
                <blockquote class="examples__date">08.09.2022</blockquote>
            </div>

            <ul>
                <li>push добавляет элемент в конец массивы</li>
                <li>pop удаляет элемент массивы и возращает его значение. (Pop можно присвоить значению переменной)</li>
                <li>unshift добавляет в начало массива</li>
                <li>shift добавляет первый элемент в массиве и возвращает его</li>
                <li>forEach, принимает в себя только кбэк функции(стрелочная или анонимная)</li>
                <li>map перебирает все элементы массива и возвращает измененный массив формируя его исходя из результатов cback функции</li>
                <li>const {name,age} = userObject; Деструктуризация обьекта - создает переменные name и age с значениями из user.name и user.age соотвественно</li>
                <li>const [name,age] = userObject; Деструктуризация массива - создает переменные name и age с значениями из user[0] и user[1] соотвественно</li>
                <li>
                    <p>Деструктуризация функции</p>
                    <p>
                        const userInfo = ({name,age}) => {};<br>
                        userInfo(userObject);
                    </p>
                </li>
            </ul>
        </div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
        <div class="examples__item"></div>
    </div>
    {/literal}
    <script src="{$wa_app_static_url}js/frontend/FrontendJavascript.js"></script>
</body>
</html>