<input type="hidden" name="menu[id]" value="{$menu.id|escape}">
<h1>{$menu.name|escape}</h1>
<div class="fields">
    <div class="field">
        <div class="name">[`Name`]</div>
        <div class="value">
            <input type="text" value="{$menu.name|escape}" name="menu[name]">
        </div>
    </div>
    <div class="field">
        <div class="name">[`Icon`]</div>
        <div class="value">
            <input type="hidden" name="menu[type]" value="{$menu.type|escape}">
            <ul class="menu-h">
                <li class="m-menu-icon"><a href="#"><i class="icon16 blog"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 notebook"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 lock"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 lock-unlocked"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 broom"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 star"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 contact"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 lightning"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 light-bulb"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 pictures"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 reports"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 books"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 marker"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 lens"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 alarm-clock"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 animal-monkey"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 anchor"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 bean"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 car"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 disk"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 cookie"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 burn"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 clapperboard"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 bug"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 clock"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 cup"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 home"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 fruit"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 luggage"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 guitar"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 smiley"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 sport-soccer"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 target"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 medal"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 phone"></i></a></li>
                <li class="m-menu-icon"><a href="#"><i class="icon16 store"></i></a></li>
            </ul>
        </div>
    </div>
</div>